#main ul {
	margin: 0;
	padding: 0
}
pre, code {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 13px;
}
.spreadshirt-items {
	position: relative;
}
.spreadshirt-article, .spreadshirt-design {
	float: left;
	margin-top: 20px;
	margin-right: 2px;
	width: 200px;
	padding: 5px;
	display: block;
	z-index: auto;
	min-height: 620px; /* fixing the height of each Article */
	overflow: visible;
	white-space: normal;
}
.spreadshirt-article, .spreadshirt-design, .spreadshirt-article a, .spreadshirt-design a {
	color:#000;	
}
.spreadshirt-article a:hover, .spreadshirt-design a:hover {
	text-decoration:underline;	
}
.spreadshirt-design {
	min-height: 300px;
	text-align: center;
	width: 190px;
}
.spreadshirt-article img {
	padding: 0;
	border: 0;
	border-radius: 0;
	background: none;
	margin: 0;
}
.spreadshirt-article img, .spreadshirt-article h3, .spreadshirt-design h3 {
	display: block;
	text-align: center;
	margin: 0 auto;
}
.spreadshirt-article .image-wrapper {
	min-height: 200px;
}
.spreadshirt-article h3, .spreadshirt-design h3 {
	min-height: 55px
}
.spreadshirt-article div {
	text-align: left;
	clear: both
}
.spreadshirt-article ul, .spreadshirt-items .colors li, .spreadshirt-article ul li, .spreadshirt-article #size-select, .spreadshirt-article p, .spreadshirt-article input {
	list-style: none;
	margin: 0;
	padding: 0;
}
.spreadshirt-article ul li {
/* border: 1px solid #e8e8e8 */
}
.spreadshirt-article input[type=text] {
	clear: both;
	width: 30px;
	margin-right: 10px;
}
.spreadshirt-article input[type="submit"], .spreadshirt-article #quantity {
	padding: 5px;
	margin: 5px;
	margin-bottom: 10px;
}
.spreadshirt-article input[type="submit"] {
	width: auto;
}
.spreadshirt-items .colors {
	min-height: 40px;
}
.spreadshirt-items .colors li, .spreadshirt-items .views li {
	float: left;
	width: 13px;
	height: 13px;
	margin: 0 2px 2px 0;
	cursor: pointer;
}
.spreadshirt-items .views li {
	width: 42px;
	height: 42px;
}
.spreadshirt-items #checkout {
	position: absolute;
	right: 10px;
	padding: 20px;
	background-color: #666;
	z-index: 100;
}
.spreadshirt-items #checkout a {
	color: #fff !important;
}
.spreadshirt-items #navigation {
	float: left;
}
.spreadshirt-items #copyright {
	clear: both;
	padding-top: 20px;
	z-index: 0;
}
.spreadshirt-items #copyright, .spreadshirt-items #copyright a {
	color: #ccc;
	font-size: x-small;
}
.spreadshirt-items .description-wrapper .header a {
	cursor: pointer;
}
.spreadshirt-items .description-wrapper .description {
	display: none
}
.spreadshirt-items .ul {
	list-style: none outside none !important;
}
.spreadshirt-items .separator {
	margin: 0;
	padding: 0;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent
}
.spreadshirt-items #infscr-loading {
	background: #fff;
	z-index: 1000;
	position: fixed;
	clear: both;
	bottom: 5px;
	width: 200px;
	overflow: hidden;
	padding: 15px;
	left: 50%;
	margin-left: -100px;
	border: 1px solid #eee;
	text-align: center;
	box-shadow: 0 0px 9px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0px 9px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0px 9px 0px rgba(0,0,0,0.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.spreadshirt-items #infscr-loading img {
	position: absolute;
	top: 19px;
	left: 20px;
	border-radius: 0;
	box-shadow: none;
}
#spreadshirt-list {
	padding-top: 20px;
}
/* display or hide prices */
.spreadshirt-article #price-without-tax {
/*	display:none; */
}
.spreadshirt-article #price-with-tax {
/*	display:none; */
}
.spreadshirt-article .fb-like, .spreadshirt-article .twitter-share-button, .spreadshirt-article .pinterest-share-button {
	/*	display:none; */
	float: left;
	margin: 2px;
}
.spreadshirt-article .fb-like {
	/*	display:none; */
	min-width: 150px;
}
.spreadshirt-article .twitter-share-button {
/*	display:none; */
}
.spreadshirt-article .pinterest-share-button {
/*	display:none; */
}
.spreadshirt-items #size-select {
	width: 80px
}
#spreadshirt-items #productCategory {
	/*	display:none; */
	position: absolute;
	left: 0;
	width: 150px;
}
#spreadshirt-items #productSubCategory {
	/*	display:none; */
	position: absolute;
	left: 160px;
	width: 150px;
}
#spreadshirt-items #articleSortBy {
	/*	display:none; */
	position: absolute;
	right: 10px;
	width: 100px;
}

/* responsive */
@media screen and (max-width: 500px) {
	#spreadshirt-items #articleSortBy {
		position: relative;
		left: 0;
	}
	#spreadshirt-items #productCategory {
		position: relative;
		left: 0;
	}
}
.spreadshirt-items .design-container {
	display: none;
}
.spreadshirt-items .active {
	width: 100%;
	float: left;
	clear: both;
	background-color: #e8e8e8;
	padding: 2px;
}
.spreadshirt-design .image-wrapper {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	height: 190px;
	width: 190px;
}
.img-caption {
	background: #fff;
	color: #000;
	display: block;
	position: absolute;
	left: 0;
	font-size: 14px;
	height: 50px;
	line-height: 26px;
	/* opacity setting */
	filter: alpha(opacity=80);    /* ie  */
	-moz-opacity: 0.8;    /* old mozilla browser like netscape  */
	-khtml-opacity: 0.8;    /* for really really old safari */
	opacity: 0.8;    /* css standard, currently it works in most modern browsers like firefox,  */
}



