/**
 * Plugin Name: WP-Spreadplugin
 * Plugin URI: http://wordpress.org/extend/plugins/wp-spreadplugin/
 * Description: This plugin uses the Spreadshirt API to list articles and let your customers order articles of your Spreadshirt shop using Spreadshirt order process.
 * Version: 3.5.3.1
 * Author: Thimo Grauerholz
 * Author URI: http://www.spreadplugin.de
 */

ul {
	margin: 0;
	padding: 0;
	list-style: none outside none
}
code, pre {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 13px
}
.clearfix:after, .clearfix:before {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}
.spreadplugin-items {
	position: relative
}
.spreadplugin-items img {
	padding: 0 !important
}
.spreadplugin-article, .spreadplugin-article-detail, .spreadplugin-design, .spreadplugin-article.list {
	float: left;
	margin-top: 20px;
	margin-right: 2px;
	padding: 5px;
	display: block;
	min-height: 650px;
	overflow: hidden;
	white-space: normal
}
.spreadplugin-article.list {
	min-height: 450px; /* fixing the height of each Article */
	width: 450px;
}
.spreadplugin-article table, .spreadplugin-article-detail table, .spreadplugin-design table, .spreadplugin-article.list table {
	border: 0
}
.spreadplugin-article-detail {
	width: auto
}
.spreadplugin-items a {
	color: #000
}
.spreadplugin-items a:hover {
	text-decoration: underline
}
.spreadplugin-design {
	min-height: 300px;
	height: 300px !important;
	text-align: center
}
.spreadplugin-article img, .spreadplugin-article-detail img, .spreadplugin-article.list img {
	padding: 0;
	border: 0;
	border-radius: 0;
	background: 0 0
}
.spreadplugin-article h3, .spreadplugin-article img, .spreadplugin-article-detail h3, .spreadplugin-article-detail img, .spreadplugin-design h3, .spreadplugin-article.list h3, .spreadplugin-article.list img {
	display: block;
	text-align: center;
	margin: 0 auto
}
.spreadplugin-article .image-wrapper, .spreadplugin-article-detail .image-wrapper, .spreadplugin-article.list .image-wrapper {
	min-height: 200px
}
.spreadplugin-article h3, .spreadplugin-design h3 {
	min-height: 55px
}
.spreadplugin-article div, .spreadplugin-article-detail div {
	text-align: left
}
.spreadplugin-article #size-select, .spreadplugin-article input, .spreadplugin-article p, .spreadplugin-article ul, .spreadplugin-article ul li, .spreadplugin-article-detail ul, .spreadplugin-items .colors li {
	list-style: none;
	margin: 0;
	padding: 0
}
.spreadplugin-article input[type=text], .spreadplugin-article-detail input[type=text] {
	clear: both;
	width: 30px;
	margin-right: 10px
}
.spreadplugin-article #quantity, .spreadplugin-article input[type=submit], .spreadplugin-article-detail #quantity, .spreadplugin-article-detail input[type=submit] {
	padding: 5px;
	margin: 5px;
	margin-bottom: 10px
}
.spreadplugin-article input[type=submit], .spreadplugin-article-detail input[type=submit] {
	width: auto
}
.spreadplugin-items .colors {
	min-height: 40px
}
.spreadplugin-items .colors li, .spreadplugin-items .views li {
	float: left;
	width: 13px;
	height: 13px;
	margin: 0 2px 2px 0;
	cursor: pointer
}
.spreadplugin-items .views li {
	width: 42px;
	height: 42px;
	list-style-type: none !important
}
.spreadplugin-items #pagination {
	float: left
}
.spreadplugin-items #copyright {
	clear: both;
	padding-top: 20px;
	z-index: 0
}
.spreadplugin-items #copyright, .spreadplugin-items #copyright a {
	color: #ccc;
	font-size: x-small
}
.spreadplugin-items .description-wrapper .header a, .spreadplugin-items .product-description-wrapper .header a {
	cursor: pointer
}
.spreadplugin-items .description-wrapper .description, .spreadplugin-items .product-description-wrapper .description {
	display: none
}
.spreadplugin-items .ul {
	list-style: none outside none !important
}
.spreadplugin-items .separator {
	margin: 0;
	padding: 0;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent
}
.spreadplugin-items #infscr-loading {
	background: #fff;
	z-index: 1003;
	position: fixed;
	clear: both;
	bottom: 5px;
	width: 200px;
	overflow: hidden;
	padding: 15px;
	left: 50%;
	margin-left: -100px;
	border: 1px solid #eee;
	text-align: center;
	box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}
.spreadplugin-items #infscr-loading img {
	position: absolute;
	top: 19px;
	left: 20px;
	border-radius: 0;
	box-shadow: none
}
#spreadplugin-list {
	padding-top: 20px;
	position: relative;
	width: 100%
}
.spreadplugin-items #size-select {
	width: 80px
}
.spreadplugin-items .design-container {
	display: none
}
.spreadplugin-items .active {
	width: 100%;
	float: left;
	clear: both;
	background-color: #e8e8e8;
	padding: 2px
}
.spreadplugin-design .image-wrapper {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	height: 190px;
	width: 190px
}
.spreadplugin-design .img-caption {
	background: #fff;
	color: #000;
	display: none;
	padding: 2px;
	width: 190px;
	position: relative;
	font-size: 13px;
	left: 0;
	overflow: hidden;
	height: 50px;
	filter: alpha(opacity=80);
	-moz-opacity: .8;
	-khtml-opacity: .8;
	opacity: .8
}
.spreadplugin-menu {
	position: relative;
	z-index: 1002;
	padding: 10px;
	width: 100%;
	margin: 0;
	top: 0;
	background: #fff;
*left:0;
	display: inline-block
}
.spreadplugin-menu.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	border: 1px solid #DBDBDB;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	z-index: 400
}
.spreadplugin-menu #articleSortBy, .spreadplugin-menu #checkout, .spreadplugin-menu #productCategory, .spreadplugin-menu #productSubCategory {
	position: relative;
	float: left;
	margin-right: 10px
}
.spreadplugin-menu #productCategory {
	width: 150px;
	margin-left: 10px
}
.spreadplugin-menu #productSubCategory {
	width: 150px
}
.spreadplugin-menu #articleSortBy {
	width: 100px
}
.spreadplugin-menu #checkout {
	float: right
}
.spreadplugin-items .product-name {
	font-size: 90%
}
.spreadplugin-items .details-wrapper, .spreadplugin-items .details-wrapper2 {
	float: right
}
.spreadplugin-items .edit-wrapper {
	margin-left: 0;
	margin-top: 0;
	padding: 5px;
	position: absolute;
	z-index: 1001 !important;
	float: left
}
.spreadplugin-items ul.soc-icons a {
	line-height: 1em
}
.spreadplugin-items ul.soc-icons li {
	float: none;
	margin: 0 !important;
	display: inline-block;
	list-style: none outside none;
	vertical-align: top
}
.spreadplugin-items ul.soc-icons a {
	background-image: url(../img/social-buttons.svg);
	background-repeat: no-repeat;
	background-size: 570px 240px;
	display: block;
	height: 35px;
	position: relative;
	white-space: normal;
	width: 35px
}
.spreadplugin-items ul.soc-icons .twt {
	background-position: -20px -20px
}
.spreadplugin-items ul.soc-icons .fb {
	background-position: -75px -20px
}
.spreadplugin-items ul.soc-icons .in {
	background-position: -130px -20px
}
.spreadplugin-items ul.soc-icons .pin {
	background-position: -185px -20px
}
.spreadplugin-items ul.soc-icons .drb {
	background-position: -240px -20px
}
.spreadplugin-items ul.soc-icons .tumb {
	background-position: -295px -20px
}
.spreadplugin-items ul.soc-icons .flick {
	background-position: -350px -20px
}
.spreadplugin-items ul.soc-icons .vim {
	background-position: -405px -20px
}
.spreadplugin-items ul.soc-icons .delic {
	background-position: -460px -20px
}
.spreadplugin-items ul.soc-icons .goog {
	background-position: -515px -20px
}
.spreadplugin-items ul.soc-icons .forr {
	background-position: -20px -75px
}
.spreadplugin-items ul.soc-icons .hi5 {
	background-position: -75px -75px
}
.spreadplugin-items ul.soc-icons .last {
	background-position: -130px -75px
}
.spreadplugin-items ul.soc-icons .space {
	background-position: -185px -75px
}
.spreadplugin-items ul.soc-icons .newsv {
	background-position: -240px -75px
}
.spreadplugin-items ul.soc-icons .pica {
	background-position: -295px -75px
}
.spreadplugin-items ul.soc-icons .tech {
	background-position: -350px -75px
}
.spreadplugin-items ul.soc-icons .rss {
	background-position: -405px -75px
}
.spreadplugin-items ul.soc-icons .rdio {
	background-position: -460px -75px
}
.spreadplugin-items ul.soc-icons .share {
	background-position: -515px -75px
}
.spreadplugin-items ul.soc-icons .skyp {
	background-position: -20px -130px
}
.spreadplugin-items ul.soc-icons .slid {
	background-position: -75px -130px
}
.spreadplugin-items ul.soc-icons .squid {
	background-position: -130px -130px
}
.spreadplugin-items ul.soc-icons .stum {
	background-position: -185px -130px
}
.spreadplugin-items ul.soc-icons .what {
	background-position: -240px -130px
}
.spreadplugin-items ul.soc-icons .wp {
	background-position: -295px -130px
}
.spreadplugin-items ul.soc-icons .ytb {
	background-position: -350px -130px
}
.spreadplugin-items ul.soc-icons .digg {
	background-position: -405px -130px
}
.spreadplugin-items ul.soc-icons .beh {
	background-position: -460px -130px
}
.spreadplugin-items ul.soc-icons .yah {
	background-position: -515px -130px
}
.spreadplugin-items ul.soc-icons .blogg {
	background-position: -20px -185px
}
.spreadplugin-items ul.soc-icons .hype {
	background-position: -75px -185px
}
.spreadplugin-items ul.soc-icons .groove {
	background-position: -130px -185px
}
.spreadplugin-items ul.soc-icons .sound {
	background-position: -185px -185px
}
.spreadplugin-items ul.soc-icons .insta {
	background-position: -240px -185px
}
.spreadplugin-items ul.soc-icons .vk {
	background-position: -295px -185px
}
.spreadplugin-cart .cart-row {
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px #CCC solid;
	display: block;
	width: 100%;
	white-space: normal
}
.spreadplugin-cart {
	position: absolute;
	right: 0;
	top: 50px;
	background-color: #FFF;
	padding: 10px
}
.spreadplugin-cart-contents {
	width: 400px;
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-left: 10px;
	padding-right: 10px
}
.spreadplugin-cart-contents div {
	float: left
}
.spreadplugin-cart .cart-preview {
	width: 70px
}
.spreadplugin-cart .cart-price {
	float: left;
	text-align: right
}
.spreadplugin-cart .cart-delete {
	float: right;
	padding: 2px
}
.spreadplugin-cart .cart-delete a img {
	border: 0 !important
}
.spreadplugin-cart .cart-description {
	width: 200px;
	padding-left: 10px;
	padding-right: 10px
}
.spreadplugin-cart-checkout {
	text-align: right;
	padding: 10px
}
.spreadplugin-cart-checkout a, .spreadplugin-cart-checkout a:hover {
	color: #fff;
	text-decoration: none
}
.spreadplugin-cart-checkout a {
	background-color: #666;
	padding: 15px 30px
}
.spreadplugin-cart-checkout a:hover {
	background-color: #999
}
.spreadplugin-cart-total {
	padding: 10px
}
.spreadplugin-cart-total .price {
	float: right
}
.spreadplugin-article-detail form table td {
	vertical-align: top
}
.spreadplugin-article-detail form table td h3 {
	text-align: left
}
.spreadplugin-items .product-description-wrapper {
	padding-top: 10px;
	padding-bottom: 10px
}
.zoomContainer {
	z-index: 1000
}
.spreadplugin-article-detail .product-name {
	clear: left
}
.spreadplugin-article-detail .details-wrapper2 {
	margin-top: 20px
}
.spreadplugin-article-detail .views-wrapper {
	padding-bottom: 10px;
	padding-top: 10px;
	display: table;
	width: 100%
}
.spreadplugin-article-detail .views-wrapper .views {
	display: table;
	margin: 0 auto
}
spreadplugin-items img {
	max-width: none !important
}
.spreadplugin-article.list .articleContentLeft, .spreadplugin-article.list .articleContentRight {
	float: left;
}
.spreadplugin-article.list .articleContentLeft {
	width: 40%;
	min-width: 190px;
}
.spreadplugin-article.list .articleContentRight {
	margin-left: 20px;
	width: 50%;
	min-width: 225px;
}
.spreadplugin-article.list .articleContentLeft * {
	text-align: center !important
}
.spreadplugin-article.list .articleContentLeft .details-wrapper2 {
	float: none;
	clear: both;
}
.spreadplugin-article.list .articleContentRight * {
	text-align: left !important
}
.spreadplugin-article.list h3 {
	min-height: inherit !important;
}
 @media only screen and (max-width: 480px) {
.spreadplugin-article, .spreadplugin-design, .spreadplugin-article-detail {
	width: 100% !important;
}
}

.mfp-wrap {
	z-index: 1060 !important;
}
.mfp-bg {
	z-index: 1059 !important;
}